.h5p-advanced-text {
  background-color: var(--background-color);
  height: 100%;
  font-family: sans-serif;
  font-size: var(--scaled-font-size);
  line-height: calc(1.5 * var(--scaled-font-size));

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
