.h5p-label-exercise-label {
  height: var(--height);
  left: var(--left);
  position: absolute;
  top: var(--top);
  width: var(--width);

  &:has(.h5p-advanced-text) {
    overflow: hidden;
  }

  &.display-none {
    display: none;
  }
}
