.h5p-label-exercise-label {
  height: max-content;
  left: var(--left);
  position: absolute;
  top: var(--top);
  width: var(--width);

  &.display-none {
    display: none;
  }

  &:has(.joubel-tip-container) {
    .h5p-label-exercise-blank-input {
      padding-right: calc(var(--h5p-theme-spacing-l, 2rem) * 1.1);
    }
  }
}
